/* Base styles */
.login {
  background: linear-gradient(#6c7a8955 0.28%, #6c7a8953),
    url("/public/main-bg-img.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 951px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 396px;
}

.login-form {
  background: white;
  padding: 50px 10px 80px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 544px;
  height: 616px;
  border: 1px 0px 0px 0px;
}

.login-form-heading {
  font-size: 30px;
  color: #2a2a2a;
}

.login-form-para {
  font-size: 16px;
  color: #717171;
}

.login-form-para a {
  color: #d6b8ff;
  text-decoration: underline;
  cursor: pointer;
}

.email-input-box,
.password-input-box {
  width: 432px;
  height: 48px;
  padding: 0 10px;
  border: 1px solid #b8b8b8;
  background: #ececec;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.email-input-box input,
.password-input-box input {
  background: transparent;
  font-size: 16px;
  flex: 1;
}

.password-input-box .show-hide {
  width: 14px;
  height: 14px;
  background: #b8b8b8;
  border-radius: 20px;
  cursor: pointer;
}

.show-hide.show-green {
  background: #bf91ff;
}

.login-form input::placeholder {
  font-size: 16px;
  color: #717171;
}

.f-password {
  font-size: 16px;
  color: #717171;
  width: 80%;
  text-align: left;
  margin-top: -10px;
}

.f-password a {
  color: #717171;
  text-decoration: underline;
  cursor: pointer;
}

.login-form-btn {
  display: block;
  background: #d6b8ff;
  color: white;
  width: 432px;
  height: 56px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.login-form-btn:hover {
  background: #bf91ff;
}

.login-footer-para {
  font-size: 20px;
  color: white;
  text-align: center;
  width: 450px;
  margin: 50px auto 0px;
  height: 57px;
  font-family: Lato;
  font-weight: 400;
  line-height: 29.2px;
}

@media (max-width: 1440px) {
  .login {
    padding: 0px 150px;
    height: 100vh;
  }

  .login-form {
    padding: 0px 10px 40px;
    gap: 20px;
    height: 416px;
  }

  .login-form-para {
    font-size: 14px;
  }

  .login-form-btn:hover {
    background: #bf91ff;
  }

  .login-footer-para {
    font-size: 20px;
    margin: 20px auto 0px;
    line-height: 25.2px;
  }
}

@media (max-width: 1024px) {
  .login {
    justify-content: center;
  }
  .login-footer-para {
    font-size: 18px;
    line-height: 22.2px;
  }
}

@media (max-width: 912px) {
  .login {
    height: 70vh;
  }
}

@media (max-width: 540px) {
  .login {
    width: 100%;
    height: 80vh;
    padding: 0 15px;
  }

  .login-form {
    width: 100%;
    margin: 0 auto;
  }

  .login-form-heading {
    font-size: 25px;
  }

  .login-form-para {
    color: #717171;
  }
  .email-input-box,
  .password-input-box {
    width: 100%;
  }

  .email-input-box input,
  .password-input-box input {
    font-size: 14px;
  }

  .login-form input::placeholder {
    font-size: 14px;
  }

  .f-password {
    font-size: 14px;
    width: 100%;
  }

  .login-form-btn {
    width: 100%;
  }

  .login-footer-para {
    font-size: 14px;
    width: 90%;
    margin: 10px auto;
    line-height: 20px;
  }
}

